In [1]:
import pandas as pd
import numpy as np

# Input variables

In [16]:
filename = input("Enter the filename with locations: ")

level_0_name = input("Enter the first level of row or column you want to access, in our example it was 'China': ")

level_1_name = input("Enter the first level of row or column you want to access, in our example it was 'province': ")

level_2_name = input("Enter the first level of row or column you want to access, in our example it was 'Jing': ")

vertical_zone_coeffecients = [[0.25, 0.25, 0.5],[0.15, 0.15, 0.7],[0.1, 0.1, 0.8]]

zone_coeffecients = [[0.2, 0.4, 0.4],[0.3, 0.3, 0.4],[0.1, 0.1, 0.8]]

option_1 = [[0.15,0.15,0.7],[0.15,0.15,0.7],[0.15,0.15,0.7]]

option_2 = [[1,0,0],[0,1,0],[0,0,1]]

Enter the filename with locations: C:/Users/Arjun Janamatti/Downloads/Python question final.xlsx
Enter the first level of row or column you want to access, in our example it was 'China': US
Enter the first level of row or column you want to access, in our example it was 'province': state
Enter the first level of row or column you want to access, in our example it was 'Jing': Alaska

#### Function is defined

In [17]:
def david_data_function(filename,level_0_name, level_1_name, level_2_name, vertical_zone_coeffecients,
                       zone_coeffecients, option_1, option_2):
    raw_data = pd.read_excel(filename, index_col = [0,1,2], header = [0,1,2])
    
    raw_data_vertical = raw_data.xs(level_1_name,axis=1, level=1, drop_level=False)
    
    vertical_zones = (raw_data_vertical.xs(level_2_name,axis=1, level=2, drop_level=False))
    
    zones_vertical = []
    
    rows_list_level_0 = (vertical_zones.index).get_level_values(0).unique()
    
    for i in range(len(rows_list_level_0)):
        if (vertical_zones.index).get_level_values(0).unique()[i] == rows_list_level_0[i]:
            zones_vertical.append((vertical_zones.loc[[rows_list_level_0[i]]]).values)
            
    new_vertical_values = []
    new_list_vertical = []
    for i in range(len(zones_vertical)):
        for k in range(len(vertical_zone_coeffecients[i])):
            new_list_vertical.append(zones_vertical[i] * vertical_zone_coeffecients[i][k])
    #     print((np.array(new_list)))
        new_vertical_values.extend(new_list_vertical)
        new_list_vertical.clear()
    
    vertical_zones_1 = []
    for i in range(len(vertical_zone_coeffecients)):
        if (i + len(new_vertical_values) - len(zones_vertical)) < len(new_vertical_values):
            vertical_zones_1.append(np.hstack(np.r_[new_vertical_values[i],new_vertical_values[i+(len(zones_vertical))], new_vertical_values[i+(2*(len(zones_vertical)))]]))
    
    raw_data_vertical = raw_data.copy(deep=True)
    for i in range(len(vertical_zones_1)):
        raw_data_vertical[level_0_name,level_1_name,level_2_name+"_{}".format(i)] = vertical_zones_1[i]
    
    raw_data_1 = raw_data.xs(level_1_name,axis=0, level=1, drop_level=False)

    horizontal_zones = (raw_data_1.xs(level_2_name,axis=0, level=2, drop_level=False))
    horizontal_zones_array = horizontal_zones.values

    zones = []
    columns_list_level_0 = (horizontal_zones.columns).get_level_values(0).unique()
    for i in range(len(columns_list_level_0)):
        if (horizontal_zones.columns).get_level_values(0).unique()[i] == columns_list_level_0[i]:
            zones.append((horizontal_zones[[columns_list_level_0[i]]]).values)
    
    new_horizontal_values = []
    new_list = []
    for i in range(len(zones)):
        for k in range(len(zone_coeffecients)):
            new_list.append(zones[i] * zone_coeffecients[i][k])
        new_horizontal_values.extend(new_list)
        new_list.clear()
    
    horizontal_zones_1 = []
    for i in range(len(zone_coeffecients)):
    #     if i+6 < len(new_horizontal_values):
        if (i + len(new_horizontal_values) - len(zones)) < len(new_vertical_values):
            horizontal_zones_1.append(np.hstack(np.c_[new_horizontal_values[i],new_horizontal_values[i+len(zones)], new_horizontal_values[i+(2*(len(zones)))]]))
    
    raw_data_horizontal = raw_data.copy(deep=True)
    for i in range(len(horizontal_zones_1)):
        row_to_append = pd.Series(horizontal_zones_1[i])
    #     if i + 1 < len(new_horizontal_values_1):
        raw_data_horizontal.loc[(level_0_name,level_1_name,level_2_name+"_{}".format(i))] = row_to_append.values
    
    option_select = input("Enter either '1' for selecting option_1 or '2' for selectin option_2: ")
    if option_select == "1":
        print("option_1 is selected")
    #     input # 7
        final_option_coeffecient = option_1
    elif option_select == "2":
        print("option_2 is selected")
    #     input # 8
        final_option_coeffecient = option_2
        
    final_option = (raw_data_horizontal.xs(level_0_name,axis=1, level=0, drop_level=False))
    final_option = (final_option[level_0_name,level_1_name,level_2_name]).values
    final_option = final_option[-3:]
    
    new_final_option_values = []
    new_list_final_option = []
    for i in range(len(final_option)):
        for k in range(len(final_option_coeffecient)):
            new_list_final_option.append(final_option[i] * final_option_coeffecient[i][k])
    #     print((np.array(new_list_final_option)))
        new_final_option_values.extend(new_list_final_option)
        new_list_final_option.clear()
    new_final_option_values = np.split(np.array(new_final_option_values),len(final_option))
    
    horizontal_zones_2 = []
    for i in range(len(horizontal_zones_1)):
        horizontal_zones_2.append(np.r_[horizontal_zones_1[i],new_final_option_values[i]])
    
    raw_data_horizontal = raw_data_vertical.copy(deep=True)
    for i in range(len(horizontal_zones_1)):
        row_to_append = pd.Series(horizontal_zones_2[i])
    #     if i + 1 < len(new_horizontal_values_1):
        raw_data_horizontal.loc[(level_0_name,level_1_name,level_2_name+"_{}".format(i))] = row_to_append.values
    raw_data_horizontal = raw_data_horizontal.drop([(level_0_name,level_1_name,level_2_name)], axis=0)
    raw_data_horizontal = raw_data_horizontal.drop([(level_0_name,level_1_name,level_2_name)], axis=1)
    
    raw_data_horizontal.sort_index(inplace=True)
    raw_data_horizontal.sort_index(axis=1, inplace=True)
    
    return raw_data_horizontal

* Run the function to get the result

In [19]:
david_data_function(filename,level_0_name, level_1_name, level_2_name, vertical_zone_coeffecients,
                       zone_coeffecients, option_1, option_2)

Enter either '1' for selecting option_1 or '2' for selectin option_2: 2
option_2 is selected

                           China                                           \
                            city                 province
                            Jing     Wan      Yu     Jing     Wan      Yu
China city     Jing       1225.0  1215.0  1235.0   1195.0  1185.0  1205.0
               Wan        1210.0  1200.0  1220.0   1180.0  1170.0  1190.0
               Yu         1240.0  1230.0  1250.0   1210.0  1200.0  1220.0
      province Jing       1180.0  1170.0  1190.0   1150.0  1140.0  1160.0
               Wan        1165.0  1155.0  1175.0   1135.0  1125.0  1145.0
               Yu         1195.0  1185.0  1205.0   1165.0  1155.0  1175.0
India state    Alabama    1255.0  1245.0  1265.0   1225.0  1215.0  1235.0
               Punjab     1270.0  1260.0  1280.0   1240.0  1230.0  1250.0
US    city     Anchorage  1150.0  1140.0  1160.0   1120.0  1110.0  1130.0
               Anniston   1135.0  1125.0  1145.0   1105.0  1095.0  1115.0
      state    Alabama    1090.0  1080.0  1100.0   1060.0  1050.0  1070.0
               Alaska_0    331.5   328.5   334.5    322.5   319.5   325.5
               Alaska_1    331.5   328.5   334.5    322.5   319.5   325.5
               Alaska_2    442.0   438.0   446.0    430.0   426.0   434.0
               Arizona    1120.0  1110.0  1130.0   1090.0  1080.0  1100.0

                           India                US                            \
                           state              city            state
                          Kerala  Punjab Anchorage Anniston Alabama Alaska_0
China city     Jing       1245.0  1255.0    1175.0   1165.0  1135.0   171.75
               Wan        1230.0  1240.0    1160.0   1150.0  1120.0   169.50
               Yu         1260.0  1270.0    1190.0   1180.0  1150.0   174.00
      province Jing       1200.0  1210.0    1130.0   1120.0  1090.0   165.00
               Wan        1185.0  1195.0    1115.0   1105.0  1075.0   162.75
               Yu         1215.0  1225.0    1145.0   1135.0  1105.0   167.25
India state    Alabama    1275.0  1285.0    1205.0   1195.0  1165.0   117.50
               Punjab     1290.0  1300.0    1220.0   1210.0  1180.0   119.00
US    city     Anchorage  1170.0  1180.0    1100.0   1090.0  1060.0   267.50
               Anniston   1155.0  1165.0    1085.0   1075.0  1045.0   263.75
      state    Alabama    1110.0  1120.0    1040.0   1030.0  1000.0   252.50
               Alaska_0    112.5   113.5     211.0    209.0   203.0   205.00
               Alaska_1    112.5   113.5     422.0    418.0   406.0     0.00
               Alaska_2    900.0   908.0     422.0    418.0   406.0     0.00
               Arizona    1140.0  1150.0    1070.0   1060.0  1030.0   260.00



                         Alaska_1 Alaska_2 Arizona
China city     Jing        171.75    801.5  1155.0
               Wan         169.50    791.0  1140.0
               Yu          174.00    812.0  1170.0
      province Jing        165.00    770.0  1110.0
               Wan         162.75    759.5  1095.0
               Yu          167.25    780.5  1125.0
India state    Alabama     117.50    940.0  1185.0
               Punjab      119.00    952.0  1200.0
US    city     Anchorage   267.50    535.0  1080.0
               Anniston    263.75    527.5  1065.0
      state    Alabama     252.50    505.0  1020.0
               Alaska_0      0.00      0.0   207.0
               Alaska_1    410.00      0.0   414.0
               Alaska_2      0.00    410.0   414.0
               Arizona     260.00    520.0  1050.0